* {font-family: sans-serif;}
* {box-sizing: border-box;}
* {margin: 0;
    padding: 0;
}

header h1 {margin-bottom: 0px;
          text-align: center;
          color: rgb(134,103,177);
          background-color: white;
          font-size: 2.25rem;
          letter-spacing: .06rem;
}

header li {float:left;
          width: 14.285%;
          text-align: center;
          color: white;
          list-style: none;
          background-color: rgb(134,103,177);
          border-color: rgb(108,77,151);
          border-right-style: solid;
  }


li#lastlink {border-right: none;}
/* not sure of better way to do this*/


aside ul  {float:left;  
          width:20%;
          height: 70%;
          background-color: rgb(193,176,212);
          text-align: center;
          color: white;
          list-style: none;
          line-height: 2rem;
}

article {background-color: rgb(225,228,233);
        width:100%;

}






